[{framework, [
    {test_key1, "from_config_file"},
    {test_key2, 12345},
    {test_key3, [{nested_key, "nested_value"}]},
    {logger, [
        {level, info},
        {console, [
            {enable, true},
            {level, info}
        ]},
        {file, [
            {enable, true},
            {path, "log/framework.log"},
            {max_size, 10485760},
            {count, 5}
        ]}
    ]}
]}].