# See https://erlang-ls.github.io/configuration/
otp_path: "D:/work/Erlang OTP"
apps_dirs:
  - "apps/*"
  - "lib/*"
deps_dir:
- "_build/default/lib/*"
include_dirs:
  - "lib"
  - "lib/*/include"
  - "apps"
  - "apps/*/include"
  - "_build/default/lib/"
  - "_build/default/lib/*/include"
lenses:
  enabled:
    - ct-run-test
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
