[
    {dawnstar, []},

    {framework, [
        {log_impl, logger}
    ]},

    {kernel, [
        {logger_level, all},
        {logger, [
            {handler, default, logger_std_h, #{level => error}},
            {handler, debug, logger_std_h, #{
                filters => [
                    {debug, {fun logger_filters:level/2, {stop, neq, debug}}}
                ],
                config => #{
                    file => "log/debug.log"
                }
            }},
            {handler, info, logger_std_h, #{
                filters => [
                    {info, {fun logger_filters:level/2, {stop, neq, info}}}
                ],
                config => #{
                    file => "log/info.log"
                }
            }},
            {handler, notice, logger_std_h, #{
                filters => [
                    {notice, {fun logger_filters:level/2, {stop, neq, notice}}}
                ],
                config => #{
                    file => "log/notice.log"
                }
            }},
            {handler, warning, logger_std_h, #{
                filters => [
                    {warning, {fun logger_filters:level/2, {stop, neq, warning}}}
                ],
                config => #{
                    file => "log/warn.log"
                }
            }},
            {handler, error, logger_std_h, #{
                filters => [
                    {error, {fun logger_filters:level/2, {stop, neq, error}}}
                ],
                config => #{
                    file => "log/error.log"
                }
            }}
        ]}
    ]}
].
